<div class="row">
  <div class="center" *ngIf="!contracts || contracts.length == 0">
    <app-no-records-found></app-no-records-found>
  </div>
  <div class="col-md-12 col-sm-12 col-12" *ngFor="let contract of contracts">
    <div class="details">
      <mat-card>
        <mat-card-header>
          <mat-card-title
            >{{ contract.customer.name }}({{ contract.customer.region }})
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <hr />
          <span id="key">Equipment Model: </span
          ><span>{{ contract.equipmentItem.equipment.model }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Serial Number: </span
          ><span>{{ contract.equipmentItem.serialNumber }}</span>
          <br />
          <span id="key">Description: </span
          ><span>{{ contract.equipmentItem.equipment.description }}</span>
          <hr />
          <span id="key">Amc Start Date: </span
          ><span>{{ contract.amcStartDate | date }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Amc End Date: </span
          ><span>{{ contract.amcEndDate | date }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Billing Cycle: </span
          ><span>{{ contract.billingCycle }}</span>
          <br />
          <span id="key">Date: </span
          ><span>{{ contract.contractDate | date }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Basic Amount: </span
          ><span>{{ contract.amcBasicAmount }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Tax: </span><span>{{ contract.amcTax }}%</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Total Amount: </span
          ><span>{{ contract.amcTotalAmount }}</span>
          <span>&nbsp;&nbsp;&nbsp;</span>
          <span id="key">Proposal No: </span
          ><span>{{ contract.proposalNo }}</span>
          <span *ngIf="contract.note"> <br />Note: {{ contract.note }} </span>
          <hr />
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button
              type="button"
              mat-mini-fab
              color="warn"
              #tooltip="matTooltip"
              matTooltip="Delete Contract"
              (click)="onDelete(contract)"
              [disabled]="!role.hasDelete()"
              test-id="view_search_contract.searched_contract.delete"
              class="m-r-20"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              type="button"
              mat-mini-fab
              color="accent"
              #tooltip="matTooltip"
              matTooltip="Edit Contract"
              (click)="edit(contract)"
              [disabled]="!role.hasEdit()"
              test-id="view_search_contract.searched_contract.edit"
              class="m-r-20"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-mini-fab
              color="accent"
              type="button"
              #tooltip="matTooltip"
              matTooltip="Print Contract"
              (click)="print(contract)"
              [disabled]="!role.hasView()"
              test-id="view_search_contract.searched_contract.download_pdf"
            >
              <mat-icon>picture_as_pdf</mat-icon>
            </button>
            <button
              type="button"
              #tooltip="matTooltip"
              matTooltip="Renew Contract"
              mat-raised-button
              color="primary"
              (click)="renewContracts(contract)"
              [disabled]="!role.hasView()"
              style="float: right;"
              test-id="view_search_contract.searched_contract.renew_contract"
            >
              Renew Contract
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
