// button:hover {
//   background-color: #428787 !important;
// }
// button:active {
//   background-color: red !important;
// }
.sm-hide {
  @media (max-width: 600px) {
    display: none;
  }
}
.sm-show {
  @media (min-width: 601px) {
    display: none;
  }
}

.logo {
  height: 65px;
}

.menu-spacer {
  width: 10px;
}
#img {
  img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
  }

  div {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    background-color: orange;
    color: var(--col1);
  }
}
