<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div routerLink="/" style="outline: none; cursor: pointer">
      <img class="logo" src="assets/images/logo.png" alt="PNS" />
    </div>
    <!-- <h1><a routerLink="/" style="color: white;">PNS</a></h1> -->
    <span class="menu-spacer"></span>
    <div class="sm-hide">
      <button
        mat-button
        [routerLink]="['customer']"
        [ngStyle]="{ 'background-color': getBgColor('customer') }"
        appHasRole="contractMenu"
      >
        Customer
      </button>
      <button
        mat-button
        [routerLink]="['equipment']"
        [ngStyle]="{ 'background-color': getBgColor('equipment') }"
        appHasRole="contractMenu"
      >
        Equipment</button
      ><button
        mat-button
        [ngStyle]="{ 'background-color': getBgColor('contract') }"
        appHasRole="contractMenu"
        test-id="contract-tab-option"
        [routerLink]="['contract']"
      >
        Contract
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="employyeMenu"
        [ngStyle]="{ 'background-color': getBgColor('employee') }"
        test-id="employee-menu-option"
      >
        Employee
      </button>
    </div>
    <div style="flex-grow: 1"></div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="sm-hide">
        <div id="img">
          <img src="{{ image }}" *ngIf="image != null; else initialBlock" />
          <ng-template #initialBlock
            ><div>
              <p>{{ initial }}</p>
            </div></ng-template
          >
        </div>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="mainMenu" class="sm-show">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #mainMenu="matMenu" class="primary">
      <button
        mat-menu-item
        [routerLink]="['customer']"
        class="primary"
        [ngStyle]="{ 'background-color': getBgColor('customer') }"
        appHasRole="contractMenu"
      >
        Customer
      </button>
      <button
        mat-menu-item
        [routerLink]="['equipment']"
        class="primary"
        [ngStyle]="{ 'background-color': getBgColor('equipment') }"
        appHasRole="contractMenu"
      >
        Equipment
      </button>
      <button
        mat-menu-item
        class="primary"
        [ngStyle]="{ 'background-color': getBgColor('contract') }"
        appHasRole="contractMenu"
        [routerLink]="['contract']"
        test-id="contract-tab-option"
      >
        Contract
      </button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="employyeMenu"
        [ngStyle]="{ 'background-color': getBgColor('employee') }"
        test-id="employee-menu-option"
      >
        Employee
      </button>
      <button mat-menu-item [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
    </mat-menu>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item [routerLink]="['login']" [hidden]="isLoggedIn">
        Login
      </button>
      <button mat-menu-item [routerLink]="['myprofile']" [hidden]="!isLoggedIn">
        Profile
      </button>
      <button mat-menu-item (click)="signOut()" [hidden]="!isLoggedIn">
        Sign Out
      </button>
    </mat-menu>
    <mat-menu #employyeMenu="matMenu" class="primary">
      <button
        mat-menu-item
        [routerLink]="['employee/profile/create']"
        class="primary"
      >
        Create Profile
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
