<div class="row">
  <div class="col-md-4 col-sm-6 col-12" *ngFor="let equipment of equipments">
    <div class="details">
      <span>Equipment Model: {{ equipment.model }}</span>
      <br />
      <span>Description: {{ equipment.description }}</span>
      <div>
        <button
          type="button"
          mat-mini-fab
          color
          color="warn"
          (click)="delete(equipment)"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          type="button"
          mat-mini-fab
          color
          color="accent"
          (click)="edit(equipment)"
          style="margin-left: 10px;"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="viewContracts(equipment)"
          style="float: right;"
        >
          View Contract
        </button>
      </div>
    </div>
  </div>
</div>
