<div class="row">
  <div class="center" *ngIf="!equipments || equipments.length == 0">
    <app-no-records-found></app-no-records-found>
  </div>
  <div class="col-lg-4 col-md-6 col-12" *ngFor="let equipment of equipments">
    <div class="details">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ equipment.model }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <hr />
          <p>{{ equipment.description }}</p>
          <hr />
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button
              type="button"
              mat-mini-fab
              color
              color="warn"
              (click)="OnDelete(equipment)"
              [disabled]="!role.hasDelete()"
              class="m-r-10"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              type="button"
              mat-mini-fab
              color
              color="accent"
              (click)="OnEdit(equipment)"
              [disabled]="!role.hasEdit()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="viewContracts(equipment)"
              [disabled]="!role.hasView()"
              style="float: right;"
            >
              View Contracts
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
