<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="mr-r-7">
        <app-profile-card [profile]="profile"></app-profile-card>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class=".mr-r-L-2-5">
        <app-hr-card [profile]="hrProfile"></app-hr-card>
      </div>
    </div>
    <div class="col-md-4 col-sm-12">
      <div class="mr-l-7">
        <app-rm-card [profile]="rmProfile"></app-rm-card>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="mr-l-7">
        <app-leave-card></app-leave-card>
      </div>
    </div>
  </div>
</div>
