<div class="row">
  <div class="center" *ngIf="!customers || customers.length == 0">
    <app-no-records-found></app-no-records-found>
  </div>
  <div
    class="col-md-12 col-sm-12 col-12 col-lg-6"
    *ngFor="let customer of customers"
  >
    <div class="details">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ customer.name }}</mat-card-title>
          <mat-card-subtitle>{{ customer.region }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content
          ><hr />
          <span>Address: {{ customer.address }}</span>
          <br />
          <span
            >GSTIN: {{ customer.gstinNo }}&nbsp;&nbsp;PAN:
            {{ customer.pan }}</span
          >
          <hr />
        </mat-card-content>
        <mat-card-actions>
          <div>
            <button
              type="button"
              mat-mini-fab
              color
              color="warn"
              (click)="onDelete(customer)"
              class="m-r-10"
              [disabled]="!role.hasDelete()"
            >
              <mat-icon>delete</mat-icon>
            </button>
            <button
              type="button"
              mat-mini-fab
              color
              color="accent"
              (click)="onEdit(customer)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              type="button"
              mat-raised-button
              color="primary"
              (click)="viewContracts(customer)"
              [disabled]="!role.hasView()"
              style="float: right;"
            >
              View Contracts
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
