<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="View/Search Equipment">
      <!-- search panel start -->
      <div class="box">
        <label id="pns-radio-group-label">Select Your Option</label>
        <mat-radio-group
          aria-labelledby="pns-radio-group-label"
          class="pns-radio-group"
          [(ngModel)]="selectedOption"
          style="flex-direction: row;"
        >
          <mat-radio-button
            class="pns-radio-button"
            *ngFor="let option of searchOption"
            [value]="option"
          >
            {{ option.value }}
          </mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field style="width: 100%;">
              <mat-label>{{ selectedOption.searchFieldName }}</mat-label>
              <input
                matInput
                [formControl]="seachKeyControl"
                [disabled]="isSeachFieldDisabled()"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <button
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="isSeachButtonDisabled()"
              (click)="findEquipment()"
            >
              {{ selectedOption.searchButtonName }}
            </button>
          </div>
        </div>
      </div>
      <!-- search panel end -->
      <hr />
      <div class="box" *ngIf="isSearched">
        <app-equipment-details
          [equipments]="equipmentResp"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
        ></app-equipment-details>
        <div class="paginationdiv" *ngIf="pageCount > 0">
          <ngb-pagination
            class="d-flex justify-content-center"
            [collectionSize]="pageCount"
            [(page)]="page"
            [pageSize]="1"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="changePage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Add Equipment">
      <mat-card>
        <mat-card-header class="center">
          <mat-card-title>Enter Equipment Details</mat-card-title>
        </mat-card-header>
        <form [formGroup]="equipmentForm" (ngSubmit)="onAdd()" #form="ngForm">
          <mat-card-content>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12">
                <mat-form-field style="width: 80%;">
                  <mat-label>Model</mat-label>
                  <input matInput formControlName="model" />
                </mat-form-field>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <mat-form-field style="width: 100%; float: right;">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <button
                  mat-raised-button
                  color="accent"
                  type="button"
                  (click)="onReset()"
                >
                  Reset
                </button>
                <div style="float: right;">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!equipmentForm.valid"
                  >
                    Add
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </mat-tab>
    <mat-tab label="Edit Equipment" *ngIf="editTabShow">
      <mat-card>
        <mat-card-header class="center">
          <mat-card-title>Enter Equipment Details</mat-card-title>
        </mat-card-header>
        <form [formGroup]="equipmentEditForm" (ngSubmit)="onUpdate()">
          <mat-card-content>
            <div class="row">
              <div class="col-md-6 col-lg-6 col-sm-12">
                <mat-form-field style="width: 80%;">
                  <mat-label>Model</mat-label>
                  <input matInput formControlName="model" />
                </mat-form-field>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <mat-form-field style="width: 100%; float: right;">
                  <mat-label>Description</mat-label>
                  <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <button
                  mat-raised-button
                  color="warn"
                  type="button"
                  (click)="onCancel()"
                >
                  Cancel
                </button>
                <div style="float: right;">
                  <button
                    mat-raised-button
                    color="primary"
                    [disabled]="!equipmentEditForm.valid"
                  >
                    Update
                  </button>
                </div>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</div>
