<div mat-dialog-content style="min-width: 370px;">
  <span>Find Equipment by Name</span>
  <br />
  <mat-form-field style="width: 80% !important;">
    <mat-label>Enter Equipment Model</mat-label>
    <input
      matInput
      [formControl]="searchKeyControl"
      test-id="find_equipment_pop_up.equipment_model"
    />
  </mat-form-field>
  <button
    mat-mini-fab
    color="primary"
    type="button"
    (click)="search()"
    [disabled]="!searchKeyControl.valid"
    style="float: right;"
    test-id="find_equipment_pop_up.search_button"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
<hr />
<mat-selection-list
  #equipmentSelected
  [multiple]="false"
  (selectionChange)="onSelection(equipmentSelected.selectedOptions.selected)"
  test-id="find_equipment_pop_up.selection_list"
>
  <mat-list-option *ngFor="let equipment of equipmentResp" [value]="equipment">
    {{ equipment.model }}
  </mat-list-option>
</mat-selection-list>
<hr *ngIf="equipmentResp" />
<p>
  Selected Equipment :
  <span *ngIf="equipmentSelected.selectedOptions.selected[0]">
    {{ equipmentSelected.selectedOptions.selected[0]?.value.model }}</span
  >
</p>
<hr />
<div class="row">
  <div class="col-lg-12" style="margin-top: 20px; text-align: center;">
    <button
      mat-raised-button
      color="primary"
      matDialogClose
      [disabled]="!equipmentSelected.selectedOptions.selected[0]"
      test-id="find_equipment_pop_up.select_button"
    >
      Select
    </button>
  </div>
</div>
