<div class="row">
  <div class="col-md-4 col-lg-3 col-sm-12">
    <mat-form-field appearance="fill">
      <mat-label>Select Region</mat-label>
      <mat-select [formControl]="selectedRegion">
        <mat-option *ngFor="let item of regions" [value]="item.index">
          {{ item.region }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.date | date }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="occasion">
    <mat-header-cell *matHeaderCellDef> Occasion </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.occasion }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="day">
    <mat-header-cell *matHeaderCellDef> Day </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.day }}
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
