<div class="row home-card">
  <div class="col-md-12">
    <span id="title">Leave Balances</span>
    <hr />
  </div>
  <div
    class="col-lg-4 col-md-4 col-sm-4"
    style="text-align: center"
    *ngFor="let item of response; index as i"
  >
    <app-radial-progress-chart
      [totalVal]="item.totalLeaves"
      [resValue]="item.reameningLeaves"
      [progressColor]="progessColors[i]"
    ></app-radial-progress-chart>
    <div id="leave-type">{{ item.type | leave }}</div>
  </div>
  <div class="col-md-12">
    <hr />
  </div>
  <div class="col-md-12" style="width: 100%; text-align: right">
    <button
      style="margin: 6px 0px"
      mat-flat-button
      type="button"
      id="edit"
      color="primary"
      [routerLink]="['employee/leave']"
    >
      My Leaves
    </button>
  </div>
</div>
