.domain {
  text-align: center;
  height: 50px;
  vertical-align: middle;
  padding: 15px;
  background: #6da943;
  .current {
    font-weight: 500;
    color: white;
    font-size: 16px;
    margin: 5px;
  }
  a {
    float: right;
    cursor: pointer;
    text-decoration: underline;
  }
  :hover {
    color: darkred;
  }
}
