<div class="container container-tab">
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="View/Search Contract">
      <!-- search panel start -->
      <div class="box">
        <label id="pns-radio-group-label">Select Your Option</label>
        <mat-radio-group
          aria-labelledby="pns-radio-group-label"
          class="pns-radio-group"
          [(ngModel)]="selectedOption"
          style="flex-direction: row"
          test-id="view_search_contract.option_radio"
        >
          <mat-radio-button
            class="pns-radio-button"
            *ngFor="let option of searchOption"
            [hidden]="option.hidden"
            [value]="option"
          >
            {{ option.value }}
          </mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <div
            class="col-md-10 col-lg-6 col-sm-12"
            *ngIf="
              selectedOption.type != 'byAmcDateRange' &&
              selectedOption.type != 'byCreationDateRange'
            "
          >
            <mat-form-field>
              <mat-label>{{ selectedOption.searchFieldName }}</mat-label>
              <input
                matInput
                [formControl]="seachKeyControl"
                [appDisableControl]="isSeachFieldDisabled()"
                test-id="view_search_contract.search_input"
              />
            </mat-form-field>
          </div>

          <div
            class="col-md-5 col-lg-3 col-sm-12"
            *ngIf="
              selectedOption.type == 'byAmcDateRange' ||
              selectedOption.type == 'byCreationDateRange'
            "
          >
            <mat-form-field>
              <mat-label>Select Start Date</mat-label>
              <input
                matInput
                readonly
                [matDatepicker]="startDatefor"
                [formControl]="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatefor"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatefor></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            class="col-md-5 col-lg-3 col-sm-12"
            *ngIf="
              selectedOption.type == 'byAmcDateRange' ||
              selectedOption.type == 'byCreationDateRange'
            "
          >
            <mat-form-field>
              <mat-label>Select End Date</mat-label>
              <input
                matInput
                readonly
                [matDatepicker]="endDatefor"
                [formControl]="endDate"
                [min]="minSearchDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatefor"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatefor></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-2 col-lg-4 col-sm-12 sm-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="isSeachButtonDisabled()"
              (click)="findContract()"
              test-id="view_search_contract.search_button"
            >
              {{ selectedOption.searchButtonName }}
            </button>
          </div>
        </div>
      </div>
      <!-- search panel end -->
      <hr />
      <div class="box" *ngIf="isSearched">
        <app-contract-details
          [contracts]="contractResp"
          (edit)="edit($event)"
          (delete)="onDelete($event)"
          (renew)="renew($event)"
        ></app-contract-details>
        <div class="paginationdiv" *ngIf="pageCount > 0">
          <ngb-pagination
            class="d-flex justify-content-center"
            [collectionSize]="pageCount"
            [(page)]="page"
            [pageSize]="1"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="changePage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Add Contract" *ngIf="role.hasAdd()">
      <app-contract-form
        secondButtonName="Reset"
        secondButtonColor="warn"
        (action)="add($event)"
        (secondAction)="reset($event)"
        title="Enter Contract Details"
        actionButtonName="Create"
      ></app-contract-form>
    </mat-tab>
    <mat-tab label="Approve Contract" *ngIf="role.hasContractApprover()">
      <div class="box">
        <app-contract-approval (edit)="edit($event)"></app-contract-approval>
      </div>
    </mat-tab>
    <mat-tab label="Edit Contract" *ngIf="contractToEdit">
      <app-contract-form
        [contract]="contractToEdit"
        secondButtonName="Cancel"
        secondButtonColor="warn"
        (action)="update($event)"
        (secondAction)="cancelUpdate()"
        title="Update Contract Details"
        actionButtonName="Update"
      ></app-contract-form>
    </mat-tab>
    <mat-tab label="Renew Contract" *ngIf="contractToRenew">
      <app-contract-form
        isRenew="true"
        [contract]="contractToRenew"
        secondButtonName="Cancel"
        secondButtonColor="warn"
        (action)="onRenew($event)"
        (secondAction)="cancelRenew()"
        title="Renew Contract"
        actionButtonName="Renew"
      ></app-contract-form>
    </mat-tab>
  </mat-tab-group>
</div>
