<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="View/Search Contract">
      <!-- search panel start -->
      <div class="box">
        <label id="pns-radio-group-label">Select Your Option</label>
        <mat-radio-group
          aria-labelledby="pns-radio-group-label"
          class="pns-radio-group"
          [(ngModel)]="selectedOption"
          style="flex-direction: row;"
        >
          <mat-radio-button
            class="pns-radio-button"
            *ngFor="let option of searchOption"
            [value]="option"
          >
            {{ option.value }}
          </mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <div
            class="col-md-6"
            *ngIf="
              selectedOption.type != 'byDateRange' &&
              selectedOption.type != 'byDate'
            "
          >
            <mat-form-field style="width: 100%;">
              <mat-label>{{ selectedOption.searchFieldName }}</mat-label>
              <input
                matInput
                [formControl]="seachKeyControl"
                [disabled]="isSeachFieldDisabled()"
              />
            </mat-form-field>
          </div>
          <div class="col-md-3" *ngIf="selectedOption.type == 'byDateRange'">
            <mat-form-field style="width: 100%;">
              <mat-label>Select Amc Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="startDatefor"
                [formControl]="startDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="startDatefor"
              ></mat-datepicker-toggle>
              <mat-datepicker #startDatefor></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3" *ngIf="selectedOption.type == 'byDateRange'">
            <mat-form-field style="width: 100%;">
              <mat-label>Select Amc End Date</mat-label>
              <input
                matInput
                [matDatepicker]="endDatefor"
                [formControl]="endDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="endDatefor"
              ></mat-datepicker-toggle>
              <mat-datepicker #endDatefor></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="selectedOption.type == 'byDate'">
            <mat-form-field style="width: 100%;">
              <mat-label>Select Contract Create/Renew Date</mat-label>
              <input
                matInput
                [matDatepicker]="contractDatefor"
                [formControl]="contractDate"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="contractDatefor"
              ></mat-datepicker-toggle>
              <mat-datepicker #contractDatefor></mat-datepicker>
            </mat-form-field>
          </div>
          <div
            class="col-md-2 col-sm-0"
            *ngIf="selectedOption.type == 'byDate'"
          ></div>
          <div class="col-md-6">
            <button
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="isSeachButtonDisabled()"
              (click)="findContract()"
            >
              {{ selectedOption.searchButtonName }}
            </button>
          </div>
        </div>
      </div>
      <!-- search panel end -->
      <hr />
      <div class="box" *ngIf="isSearched">
        <app-contract-details
          [contracts]="contractResp"
          (edit)="edit($event)"
          (renew)="renew($event)"
        ></app-contract-details>
      </div>
    </mat-tab>
    <mat-tab label="Add Contract">
      <app-contract-form
        secondButtonName="Reset"
        secondButtonColor="accent"
        (action)="add($event)"
        title="Enter Contract Details"
        actionButtonName="Create"
      ></app-contract-form>
    </mat-tab>
    <mat-tab label="Edit Contract" *ngIf="contractToEdit">
      <app-contract-form
        [contract]="contractToEdit"
        secondButtonName="Cancel"
        secondButtonColor="warn"
        (action)="update($event)"
        (secondAction)="cancelUpdate()"
        title="Update Contract Details"
        actionButtonName="Update"
      ></app-contract-form>
    </mat-tab>
    <mat-tab label="Renew Contract" *ngIf="contractToRenew">
      <app-contract-form
        isRenew="true"
        [contract]="contractToRenew"
        secondButtonName="Cancel"
        secondButtonColor="warn"
        (action)="onRenew($event)"
        (secondAction)="cancelRenew()"
        title="Renew Contract"
        actionButtonName="Renew"
      ></app-contract-form>
    </mat-tab>
  </mat-tab-group>
</div>
