mat-card {
  min-width: 370px;
}

.status {
  font-size: small;
}

.APPROVED {
  color: green;
}

.L1_APPROVED {
  color: gold;
}

.PENDING {
  color: red;
}

.MODIFICATION_REQUIRED {
  color: red;
}
