@import "~@angular/material/_theming.scss";

@include mat-core();

$pns-col1: (
  500: #05557b,
  contrast: (
    500: white,
  ),
);

$pns-col2: (
  500: #6da943,
  contrast: (
    500: white,
  ),
);

$pns-red: (
  500: #cc1442,
  contrast: (
    500: white,
  ),
);
$primary: mat-palette($pns-col1, 500);
$accent: mat-palette($pns-col2, 500);
$warn: mat-palette($pns-red, 500);

$app-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($app-theme);
