/* You can add global styles to this file, and also import other style files */
:root {
  --col1: #05557b;
  --col2: #6da943;
}
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}
.pns-radio-group {
  display: table;
  margin: 15px 0;
}

.pns-radio-button {
  margin: 5px;
}
.box {
  margin: 10px;
  padding: 10px;
}

.details {
  padding: 10px;
  margin-top: 20px;
  span {
    font-weight: bold;
  }
  div {
    margin-top: 10px;
  }
}

.m-l-20 {
  margin-left: 20px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.paginationdiv {
  margin-top: 20px;
}
button {
  outline: none !important;
}

mat-form-field {
  width: 100% !important;
}
.sm-hide {
  @media (max-width: 600px) {
    display: none !important;
  }
}

.sm-show {
  @media (min-width: 601px) {
    display: none !important;
  }
}

.sm-center {
  @media (max-width: 765px) {
    text-align: center;
  }
}
.center {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.username {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  justify-content: center;
}

.sm-button {
  @media (max-width: 765px) {
    margin-bottom: 10px;
  }
}

.page-item.active .page-link {
  background-color: #05557b !important ;
  border-color: #05557b !important;
  color: white !important;
}

.page-link {
  color: #05557b !important;
}

#pns-radio-group-label {
  font-size: 20px;
  font-weight: 500;
}

#key {
  color: gray;
  font-weight: 500;
}
.mat-card-header-text {
  width: 100% !important;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 1000px 104px;
  position: relative;
  overflow: hidden;
}
@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.padTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padTB5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padTB10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
