/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.pns-radio-group {
  display: flex;
  margin: 15px 0;
}

.pns-radio-button {
  margin: 5px;
}
.box {
  margin: 10px;
  padding: 10px;
}

.details {
  padding: 10px;
  margin-top: 20px;
  span {
    font-weight: bold;
  }
  div {
    margin-top: 10px;
  }
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-10 {
  margin-left: 20px !important;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

.paginationdiv {
  margin-top: 20px;
}
button {
  outline: none !important;
}

.center {
  justify-content: center;
}
