<div class="container">
  <mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="View/Search Customer">
      <!-- search panel start -->
      <div class="box">
        <label id="pns-radio-group-label">Select Your Option</label>
        <mat-radio-group
          aria-labelledby="pns-radio-group-label"
          class="pns-radio-group"
          [(ngModel)]="selectedOption"
          style="flex-direction: row;"
        >
          <mat-radio-button
            class="pns-radio-button"
            *ngFor="let option of searchOption"
            [value]="option"
          >
            {{ option.value }}
          </mat-radio-button>
        </mat-radio-group>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <mat-form-field style="width: 100%;">
              <mat-label>{{ selectedOption.searchFieldName }}</mat-label>
              <input
                matInput
                [formControl]="seachKeyControl"
                [disabled]="isSeachFieldDisabled()"
              />
            </mat-form-field>
          </div>
          <div class="col-md-6 col-sm-12 sm-center">
            <button
              mat-raised-button
              color="primary"
              type="button"
              [disabled]="isSeachButtonDisabled()"
              (click)="findCustomer()"
            >
              {{ selectedOption.searchButtonName }}
            </button>
          </div>
        </div>
      </div>
      <!-- search panel end -->
      <hr />
      <div class="box" *ngIf="isSearched">
        <app-customer-details
          [customers]="customerResp"
          (edit)="onEdit($event)"
          (delete)="onDelete($event)"
          (secondAction)="onReset($event)"
        ></app-customer-details>
        <div class="paginationdiv" *ngIf="pageCount > 0">
          <ngb-pagination
            class="d-flex justify-content-center"
            [collectionSize]="pageCount"
            [(page)]="page"
            [pageSize]="1"
            [maxSize]="5"
            [boundaryLinks]="true"
            (pageChange)="changePage($event)"
          ></ngb-pagination>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Add Customer" *ngIf="role.hasAdd()">
      <app-customer-form (action)="onAdd($event)"></app-customer-form>
    </mat-tab>

    <mat-tab label="Update Customer" *ngIf="cutomerToEdit">
      <app-customer-form
        [customer]="cutomerToEdit"
        (action)="onUpdate($event)"
        (secondAction)="onCancel()"
      ></app-customer-form>
    </mat-tab>
  </mat-tab-group>
</div>
